<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CLC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CLC.Properties.Settings>
            <setting name="COMPortDefault" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="DeviceDefault" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntDefault" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="SenDefault" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="SpeDefault" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ModeDefault" serializeAs="String">
                <value>FADE</value>
            </setting>
        </CLC.Properties.Settings>
    </userSettings>
</configuration>